DB_HOST=103.77.172.200
DB_NAME=nro_v2
DB_USER=ahwuocdz
DB_PASS=123456

ZALO_LINK=https://zalo.me/g/xxxxx

BANK_ACCOUNT=0123456789
BANK_NAME=MB
BANK_ACCOUNT_NAME=NGUYEN VAN A

DOWNLOAD_ANDROID=https://drive.google.com/xxx
DOWNLOAD_WINDOWS=https://drive.google.com/xxx
DOWNLOAD_IOS=https://testflight.apple.com/xxx

LOGO_URL=/image/logo.png