DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

ZALO_LINK=

BANK_ACCOUNT=
BANK_NAME=
BANK_ACCOUNT_NAME=

DOWNLOAD_ANDROID=https://drive.google.com/xxx
DOWNLOAD_WINDOWS=https://drive.google.com/xxx
DOWNLOAD_IOS=https://testflight.apple.com/xxx

LOGO_URL=/image/logo.png
